<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Social Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        {% if request.user.is_authenticated %}
          
       
        <li class="nav-item">
            <a class="nav-link" href="{% url 'post-create' %}">New Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "logout" %}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{request.user.username}}">{{request.user.username}}</a>
          </li>

         {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "login" %}">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Register</a>
          </li>
          {% endif %}

      </ul>

    </div>
</div>
</nav>