{% extends "../base.html" %}
{% block title %}
  Pofile
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <div class="row">
        <h2 class="text-center">Profile</h2>
        <hr>
        <div class="col-md-6 offset-md-3">
         

            <img src="{{ user.userprofiledata.image.url }}" class="img-responsive rounded-circle w-50 img-thumbnail" />
        </div>
        <div class="col-md-6 offset-md-3">
      
            <h4>UserName: {{ user.username }}</h4>
            <h4>Email: {{ user.email }}</h4>
            <h4>First Name: {{ user.first_name }}</h4>
            <h4>Last Name: {{ user.last_name }}</h4>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{u_form | crispy}}
          {{p_form | crispy}}
          <button type="submit" class="btn btn-primary" >Update</button>
        </form>
    </div>

  </div>
{% endblock content %}